<mat-card class="publication-card">
  <mat-card-header>
    <div mat-card-avatar class="publication-header-image"></div>
    <mat-card-title>{{publication.title}}</mat-card-title>
    <mat-card-subtitle>{{publication.price|currency:'USD'}}</mat-card-subtitle>
  </mat-card-header>

  <div class="image-container">

    <img mat-card-image [src]="publication.photos[0]?publication.photos[0].url:''" alt="Photo of a product">
  </div>

  <mat-card-content>
    <p>
      {{publication.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>