@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.publication-card {
    margin-top: 10px;
    max-width: 400px;
  }
  
  .publication-header-image {
    background-image: url(https://cdn.worldvectorlogo.com/logos/fender-1.svg);
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
  }

  .image-container{ 
    widows: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    img {
      margin-top: 0px;
    width: 100%;
    height: auto;
    }
}