@import 'themes';
@import 'variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

%reset-link{
  color:$sidebar-link;
  border-color:transparent;
}

%reset-link-hover {
  color: $sidebar-item-hover;
  i{
    color: $sidebar-item-hover;
  }
}

%reset-link-active {
  color:$sidebar-active;
  border-radius: 0;
  i{
    color: white;
  }
}

@include nb-install-component() {
 
  ::ng-deep .scrollable{
    background: $sidebar-scrollable;
    padding-top:0;
  }

  nb-menu{
    background: $sidebar-background;
    
    ::ng-deep .menu-item{
       border:none;

      a{
        @extend %reset-link;
      }
      a:hover{
       @extend %reset-link-hover;
       background: $sidebar-background;
      }
      a.active{
       @extend %reset-link-active;
       background: $sidebar-background-active;
      }
    }


  }

  ::ng-deep .menu-items.expanded,::ng-deep .menu-items.collapsed{
    background: $sidebar-scrollable;
    
    .menu-item{
      background: $sidebar-scrollable!important;
    }

      a{
        @extend %reset-link;
      }
     a:hover{
      @extend %reset-link-hover;
      background: $sidebar-scrollable!important;
     }
     a.active{
      @extend %reset-link-active;
      background: $sidebar-scrollable!important;
     }
   
  
  }

  
}





 // solved overlapping issue between the sidebar and the content
 @include media-breakpoint-up(md) {
  nb-sidebar.fixed{
      position:static;
      top:0!important;
    }
  }
  nb-sidebar{
  top: 65px!important;
  }

 