@import 'variables';

html,body{
    height: 100%
  }
.app-page{
    height: 100%;
}

.login-container
{
    width: 100%; 
    margin-top:  -66px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    //fallback
    background: $auth-background;
    mat-card{
        max-width:500px;
        min-width: 200px;
    }
    .login-header{
        font-family: $font-stack;
        width: 100%;
        text-align: center;
    }

    .login-icon{
        width: 100%;
        text-align: center;
        font-size: 5em;
        color:$auth-background;
    }

    .login-button:not([disabled]){
        background: $form-button;
    }

}

.full-width {
    width: 100%;
}

.half-width {
    width: 49%;
}