<div class="login-container">
  <mat-card *ngIf="!submitted">
    <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>
    <h2 class="login-header">Login</h2>
    <div class="login-icon">
      <i class="nb-locked"></i>
    </div>
    <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-input-container class="full-width">
        <input matInput formControlName="username" required placeholder="username">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput formControlName="password" required type="password" placeholder="password">
      </mat-input-container>
      <div class="clearfix">
        <div class="float-right">
          <button class="login-button" type="submit" [disabled]="!loginForm.form.valid" mat-raised-button color="primary">Login</button>
        </div>
      </div>
    </form>

  </mat-card>
  <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
</div>