

$font-stack:    Helvetica, sans-serif;
$btc-chip:#e09a35;
$conversion-text-color:#CDDC39;
$primary-color: rgba(75, 99, 111, 0.95);
$primary-light: #E8EAF6;
$custom-entry:#2196F3;

$form-gradient-1:#e2ff08;
$form-gradient-2:#33a0ff;
$form-button:#292b2c;

$blue-dark: #26404c;
$search-color-1 : #e2ff08;
$search-color-2 : #88980f;




