<div class="app-jumbotron">
  
  <img src="/assets/img/bit-shop.svg"
       class="jumbo-image"
       height="300"
       alt="Cool Image">

  <div style="max-width: 500px;">
    <h1 class="center" style="color: white">
      <span>Find the </span>
      <div id="carousel"><ul>
        <li>product</li>
        <li>videogame</li>
        <li>gift</li>
        <li>guitar</li>
        <li>book</li>
        <li>product</li><!-- repeated element -->
      </ul> 
    </div>
      <span>you're looking for, pay with bitcoin</span>
    </h1>
    <app-spacer height="30"></app-spacer>
    <button mat-raised-button routerLink="signup" class="custom-entry" style="padding: 10px 15px; font-size: 20px">
      Get Started!
    </button>
  </div>
  
</div>
