@import 'variables';


.signup-container{
    width: 100%; 
    margin-top:  -66px;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    //fallback
    background: $auth-background;
    mat-card{
        max-width:500px;
    }
  
    .signup-header{
        font-family: $font-stack;
        width: 100%;
        text-align: center;
    }

    .signup-icon{
        width: 100%;
        text-align: center;
        font-size: 5em;
        color:$auth-background;
    }

    .signup-button{
        background: $form-button;
    }
}

.full-width {
    width: 100%;
}

.half-width {
    width: 49%;
}


