<div style="max-width: 600px; margin: 0 auto;">
  <mat-card class="bottom-padded-card">
    
    <h1>
      Sign Up
    </h1>
  
    <mat-input-container class="half-width">
      <input matInput placeholder="First Name">
    </mat-input-container>
    <mat-input-container class="half-width">
      <input matInput placeholder="Last Name">
    </mat-input-container>
    
    <mat-input-container class="full-width">
      <input matInput autocomplete="false" placeholder="Email">
    </mat-input-container>
    <mat-input-container class="full-width">
      <input matInput autocomplete="new-password" type="password" placeholder="Password">
    </mat-input-container>
    
    <div class="clearfix">
      <div class="float-right">
        <button  color="primary" mat-raised-button>Sign Up</button>
      </div>
    </div>
    
  </mat-card>
</div>
