@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url(https://cdn.worldvectorlogo.com/logos/fender-1.svg);
    background-size: contain;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
  }

  mat-card img {
    width: 100%;
    height: auto;
  }