$font-stack:    Helvetica, sans-serif;

$footer-background:#e20059;
$primary-color: #ffe81d;
$primary-light: #E8EAF6;
$primary-dark: #283593;
$accent: #FF4081;
$accent-light: #FF80AB;
$accent-dark: #F50057;
$custom-entry:#2196F3;